__pycache__/*
gflow_vqe/__pycache__/*
FC/*
*.svg
*.log
*.hdf5
*.p
*.pth
gflow_vqe.egg-info/dependency_links.txt
gflow_vqe.egg-info/PKG-INFO
gflow_vqe.egg-info/SOURCES.txt
gflow_vqe.egg-info/top_level.txt
.vscode/*